doctype html
html
  head
    if activeTab !== undefined
      title #{pages[activeTab].title} - Blossomtree Software
    else
      title Page not found - Blossomtree Software
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .header-bar
      .header-logo-container
        a.header-logo-link(href="/")
          img.header-logo(src='images/header-logo.jpg')
      .header-nav-area
        each val, index in pages
          a.header-nav(class=(index==activeTab?"active":"") href=val.path)
            p= val.title
    .content-area
      block content