$font-stack: Arial, "Helvetica Neue", Helvetica, sans-serif;
$color-text-main: #000;
$color-bg: #d5d7dc;
$color-bg-header: #fff;

body {
  margin:0;
  color: $color-text-main;
  background: $color-bg;
}

p.body-text {
  font-family: $font-stack;
}

div.slideshow {
	transform: translateX(-50%);
  left: 50%;
	width: 400px;
	height: 200px;
}

.hidden {
	visibility:hidden;
}

.header-bar {
	height: 100px;
  background: $color-bg-header;
  display: flex;
}

.header-logo-container {
  flex: 1 0 10%;
  width: 0%;
}

a.header-logo-link {
  display: inline-block;
  height: 100%;
}

.header-logo {
	height: 100%;
}

.header-nav-area {
  flex: 2 0 10%;
  display:flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  position: relative;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 0;
}

a.header-nav {
  position: relative;
	display: inline-block;
	margin-left: 15px;
	margin-right: 15px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-weight: bold;
	font-size: large;
	line-height: 0.1em;
	color: $color-text-main;
  text-decoration: none;
  :hover,:active,:visited,:link {
    color: $color-text-main;
    text-decoration: none;
  }
}

a.header-nav:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.1em;
  bottom: 0;
  left: 0;
  background-color: $color-text-main;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.1s ease-in-out 0s;
	transition: all 0.1s ease-in-out 0s;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
}

a.header-nav:hover:before,
a.header-nav.active:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
	transform: scaleX(1);
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
}

.content-area {
  margin: 20px;
}